body {
  background-color: #f5fbef;
  text-align: center;
  font-family: 'Inter Tight', sans-serif;
font-family: 'Martian Mono', monospace;
padding-left: 20%;
padding-right: 20%;
}

h1 {
  font-size: 45px;
  margin-top: 50px;
  color: #92AD94;
  width: 100%
  
}


 p {
  Color: #748B75;


}

.list {
color: #503D42;

}



img{
  width: 200px;

}


.container{
text-align: auto;
 margin: auto;
 padding: auto;
 font-size: 15px;
  
}

.container ul{
  display: inline-flex;
  list-style: none;
  color: #503D42;
}

  .container ul li{
    width: 20%;
    margin: 0px;
    padding: 10px;
 
  }

  .container ul a{
   text-decoration: none;
   color: #503D42;
  
  }


  .container ul li:hover {
  background: #9c8e92;
  border-radius: 20px;
}

.bottom-text{
padding: auto;
margin: auto;
background-color: #503D42;
text-align: center;
position:absolute;

bottom: 0;
left: 0;
}



.align-left {
  text-align: left; 


}

 
@media (max-width: 320px) {
  h1 { 
    font-size: 20px;
    
  } 
  
} 

@media (max-width: 768px) {
p { 
font-size: 15px;
}

}

@media (min-width: 1200px) {
  h1 {
   font-size: 50px ;
  
  }

}
